/* I AM VERY BAD AT CSS, I KNOW*/

/* COLORS*/
/* You can Customize colors here*/

:root {
  --background-color: #181926;
  --card-background-color: #1e2030;
  --font-color: #cad3f5;
  --bookmark-icons: #535373;
  --links: silver; 
  --links-hover: navajowhite;
  
  /* Bookmark links */
  --link1: red; /* Youtube */
  --link2: orangered; /* Reddit */
  --link3: deepskyblue; /* Facebook */
  --link4: indianred; /* Revolt */
  --link5: whitesmoke; /*Github */
}


/* Actual normal css */
body {
  background-color: var(--background-color);
  font-family: monospace;
  padding-right: 160px;
  padding-left: 160px;
}

html {
  color: var(--font-color);
  scrollbar-width: thin;
  scrollbar-color: #24273a;
}

.main {
  float: right;
}

img {
  float: left;
  padding: 10px;
  border-radius: 20px;
  opacity: 0.8008;
}


.bookmarks {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); 
}

/*frequently accessed links*/

.favorites {
  width: 700px;
  display: inline-block;
  text-align: center;
}

.uhm {
  color: var(--bookmark-icons);
  text-decoration: none;
  display: inline-block;
  font-size: 42px;
  text-align: center;
  margin: 8px;
  transition: 0.3s;
}

#link1:hover {
  color: var(--link1);
  font-size: 45px;
}

#link2:hover {
  color: var(--link2);
  font-size: 45px;
}

#link3:hover {
  color: var(--link3);
  font-size: 45px;
}

#link4:hover {
  color: var(--link4);
  font-size: 45px;
}

#link5:hover {
  color: var(--link5);
  font-size: 45px;
}




#greetings {
  text-align: center;
  margin: 10px;
}

#container {
  text-align: center;
  font-size: 18px;
}

#icon {
  font-size: 20px;
}

.something {
  color: var(--links);
  text-decoration: none; 
  display: block;
  margin-right: 20px;
}

.something:hover {
  color: var(--links-hover);
}

.what {
  display: flex;
  font-size: 1.1rem;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  flex: 1;
  margin: 10px;
  border-radius: 5px;
  background-color: var(--card-background-color);
  display: inline-block;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container_ship {
  padding-bottom: 10px;
  padding-left: 25px;
  color: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  user-select: none;
}

.searchbar {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin: 15px;
  text-align: center;
}

.searchbar input[type=text] {
  width: 930px;
  border-radius: 5px;
  background-color: transparent;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  padding-left: 50px;
  color:#fff;
  border-bottom: 1px solid #1d1f2e;
  -moz-transition: 1s;
  transition: 1s;
}

.btn-search{
  width: 40px;
  height: 40px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}

.searchbar input:focus {
  width: 930px;
  border-bottom: 1px solid #3e3e3e;
}
